$bg-dark: #07090e;
$bg-card: #0d111a;
$border-color: #334155;
$primary-cyan: #00f0ff;
$primary-cyan-hover: #00c4d1;
$text-main: #ffffff;
$text-muted: #e2e8f0;

$font-base: 1rem;
$font-md: 1.125rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;
$font-xxl: 2rem;

@import 'bottom-nav';
@import 'event-list';
@import 'metric-card';
@import 'notifications';
@import 'support-form';
@import 'support';

@import 'landing';