// src/styles/variables.scss
$bg-dark: #07090e;
$bg-card: #0d111a;
$border-color: rgba(255, 255, 255, 0.2); 
$border-color-hover: #00f0ff; 

$primary-cyan: #00f0ff;
$primary-cyan-hover: #00c4d1;
$text-main: #ffffff;
$text-muted: #e2e8f0;

// Tamaños de fuente
$font-xxl: 2rem;
$font-lg: 1.35rem;
$font-md: 1.1rem;
$font-base: 1rem;